extends base/_layout
block head
    title Main
block page

    //- .wrapper

    .filter
        h2.filter__title Локация

        button.filter__btn.fbutton(type="button" aria-label="Показать или скрыть список фильтров")
            +icon('icon-search')
            span.fbutton__name ЖК, Округ, район, метро
            span.fbutton__amount 1

        .filter__dropdown

            .filter__tabs.ftabs
                ul.ftabs__list
                    li: button.ftabs__btn.active(type="button" aria-label="Показать список жилых комплексов") Жк
                    li: button.ftabs__btn(type="button" aria-label="Показать список округов") Округ
                    li: button.ftabs__btn(type="button" aria-label="Показать список районов") Район
                    li: button.ftabs__btn(type="button" aria-label="Показать список станций") Метро

            .filter__lables.flables
                ul.flables__list
                    li: button.flables__btn.flables__btn--cross(type="button" aria-label="Удалить фильтр Академический") Академический
                    li: button.flables__btn.flables__btn--cross(type="button" aria-label="Удалить фильтр Басманный") Басманный
                    li: button.flables__btn.flables__btn--cross(type="button" aria-label="Удалить фильтр Академический") Академический

            ul.filter__list.flist
                //- TODO: create list items
