extends base/_layout
block head
    title Main
block page

    //- .wrapper

    .filter
        h2.filter__title Локация

        button.filter__btn.fbutton(type="button" aria-label="Показать или скрыть список фильтров")
            +icon('icon-search')
            span.fbutton__name ЖК, Округ, район, метро
            span.fbutton__amount 1

        .filter__dropdown

            .filter__tabs.ftabs
                .ftabs__wrapper
                    ul.ftabs__list
                        li: button.ftabs__btn.active(type="button" aria-label="Показать список жилых комплексов" data-tab="jc") Жк
                        li: button.ftabs__btn(type="button" aria-label="Показать список округов" data-tab="districts") Округ
                        li: button.ftabs__btn(type="button" aria-label="Показать список районов" data-tab="areas") Район
                        li: button.ftabs__btn(type="button" aria-label="Показать список станций" data-tab="metro") Метро

            .filter__labels.flabels.empty
                ul.flabels__list
                    //- li: button.flabels__btn.flabels__btn--cross(type="button" aria-label="Удалить фильтр Академический" data-id="academic") Академический
                    //- li: button.flabels__btn.flabels__btn--cross(type="button" aria-label="Удалить фильтр Басманный" data-id="basmanny") Басманный
                    //- li: button.flabels__btn.flabels__btn--cross(type="button" aria-label="Удалить фильтр Академический" data-id="central") Центральный

            -
                var jc_list = [
                    {value: "academic", title: "Академический"},
                    {value: "basmanny", title: "Басманный"},
                    {value: "zamoskvorechye", title: "Замоскворечье"},
                    {value: "izmailovo", title: "Измайлово"},
                    {value: "lyublino", title: "Люблино"},
                    {value: "lavrushinsky", title: "Лаврушинский"},
                    {value: "ilyinka", title: "Ильинка"},
                    {value: "obydensky", title: "Обыденский"},
                    {value: "red_october", title: "Красный октябрь"},
                    {value: "romanov", title: "Романов"},
                    {value: "chistye_prudy", title: "Чистые пруды"},
                ]

                var districts_list = [
                    {value: "central", title: "Центральный"},
                    {value: "north", title: "Северный"},
                    {value: "north_east", title: "Северо-Восточный"},
                    {value: "east", title: "Восточный"},
                ]

                var areas_list = [
                    {value: "altufevsky", title: "Алтуфьевский"},
                    {value: "arbat", title: "Арбат"},
                    {value: "airport", title: "Аэропорт"},
                    {value: "ivanovskoe", title: "Ивановское"},
                    {value: "izmailovo", title: "Измайлово"},
                    {value: "kapotnya", title: "Капотня"},
                    {value: "konkovo", title: "Коньково"},
                ]

                var metro_list = [
                    {value: "sokolniki", title: "Сокольники"},
                    {value: "krasnoselskaya", title: "Красносельская"},
                    {value: "komsomolskaya", title: "Комсомольская"},
                    {value: "red_Gate", title: "Красные Ворота"},
                    {value: "lubyanka", title: "Лубянка"},
                    {value: "kropotkinskaya", title: "Кропоткинская"},
                    {value: "frunzenskaya", title: "Фрунзенская"},
                    {value: "sports", title: "Спортивная"},
                    {value: "university", title: "Университет"},
                ]

            .filter__box
                .filter__items-container
                    //- ЖК
                    .filter__items.fitems.active(data-tab="jc")

                        ul.fitems__list

                            each item in jc_list
                                +fitem(item.value, item.title)

                    //- Округи
                    .filter__items.fitems(data-tab="districts")

                        ul.fitems__list

                            each item in districts_list
                                +fitem(item.value, item.title)

                    //- Районы
                    .filter__items.fitems(data-tab="areas")

                        ul.fitems__list

                            each item in areas_list
                                +fitem(item.value, item.title)

                    //- Станции метро
                    .filter__items.fitems(data-tab="metro")

                        ul.fitems__list

                            each item in metro_list
                                +fitem(item.value, item.title)
