// filter mixins

@mixin body_accent {
  font-family: var(--ff_roboto, "Roboto Condensed", sans-serif);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

@mixin body {
  font-family: var(--ff_arial, "Arial", sans-serif);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@mixin lable {
  font-family: var(--ff_roboto, "Roboto Condensed", sans-serif);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

@mixin caption {
  font-family: var(--ff_arial, "Arial", sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.14px;
  color: var(--color_black_500, #07000f);
}

@mixin hide_scrollbar {
  // hide scrollbar in Firefox
  scrollbar-width: none;

  // hide scrollbar in Chrome, Safari
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    width: 0;
    height: 0;
  }
}

/* filter styles */

.filter {
  position: relative;
  width: 320px;

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ol,
  ul,
  li {
    list-style: none;
  }

  button,
  input {
    appearance: none;
    outline: none;
  }

  :active,
  :hover,
  :focus {
    outline: 0;
    outline-offset: 0;
  }
}

.filter__title {
  margin-bottom: 4px;
  @include caption;
}

/* filter__btn styles */

.fbutton {
  width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 6px;
  padding: 7px 7px 8px 15px;
  @include body_accent;
  color: var(--color_black_500, #07000f);
  background-color: var(--color_black_100, rgba(2, 22, 45, 0.05));
  border-radius: var(--radius_lg, 12px);
  border: $border_black_200;
  cursor: pointer;
  transition: border-color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      border-color: var(--color_black_300, rgba(7, 0, 15, 0.4));
    }
  }

  &.active {
    border-color: var(--color_black_300, rgba(7, 0, 15, 0.4));
  }

  .icon,
  .fbutton__amount {
    flex-shrink: 0;
  }

  .fbutton__name {
    flex-grow: 1;
  }
}

.fbutton__name {
  text-align: left;
}

.fbutton__amount {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color_white_500, #fff);
  border-radius: 50%;
  background-color: var(--color_accent_500, #0067fe);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-out, opacity 0.2s ease-out;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: $border_black_200;
    border-radius: 50%;
  }

  .fbutton.checked & {
    visibility: visible;
    opacity: 1;
  }
}

/* filter__dropdown styles */

.filter__dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  background-color: var(--color_white_500, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02),
    0px 4px 32px 0px rgba(0, 0, 0, 0.02);
  border-radius: var(--radius_lg, 12px);
  border: $border_black_200;
}

/* filter__tabs styles */

.ftabs {
  overflow-x: auto;
  @include hide_scrollbar;
}

.ftabs__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 16px;
  padding: 0 15px;
  border-bottom: $border_black_200;

  &::after {
    content: "|";
    display: block;
    width: 15px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }
}

.ftabs__btn {
  position: relative;
  padding: 11px 0;
  @include body_accent;
  color: var(--color_black_300, rgba(7, 0, 15, 0.4));
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      color: var(--color_black_500, #07000f);
    }
  }

  &.active {
    color: var(--color_black_500, #07000f);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      min-height: 1px;
      background-color: var(--color_black_500, #07000f);
      transition: min-height 0.2s ease-out;
    }

    @media (hover: hover) {
      &:hover::after {
        min-height: 2px;
      }
    }
  }
}

/* filter__tabs styles */

.flables {
  overflow-x: auto;
  @include hide_scrollbar;

  &.empty {
    display: none;
  }
}

.flables__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 4px;
  padding: 11px 15px;
  border-bottom: $border_black_200;

  &::after {
    content: "-";
    display: block;
    width: 15px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }
}

.flables__btn {
  padding: 10px 11px;
  @include lable;
  color: var(--color_black_500, #07000f);
  background: var(--color_black_100, rgba(2, 22, 45, 0.05));
  border-radius: var(--radius_sm, 8px);
  border: $border_black_200;
  cursor: pointer;
}

.flables__btn--cross {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 4px;

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/sprites/main.svg) no-repeat;
    background-position: 0 0;
    background-size: 200% auto;
  }
}
