@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-image-icon-close {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(36, 18)*100% auto;
	width: 18px;

}
@mixin svg-pos-image-icon-close {
	background-position: 0 0;
}
@mixin svg-image-icon-close-hover {
	.svg-image-icon-close {
		@include svg-pos-image-icon-close-hover
	}
}

.svg-image-icon-close:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(18, 18)*100%;
}

.svg-image-icon-close-dims {
	width: 18px;
	height: 18px;
}

.svg-image-icon-search {
	@extend %svg-common;
	background-position: 100% 0;
	background-size: math.div(36, 18)*100% auto;
	width: 18px;

}
@mixin svg-pos-image-icon-search {
	background-position: 100% 0;
}
@mixin svg-image-icon-search-hover {
	.svg-image-icon-search {
		@include svg-pos-image-icon-search-hover
	}
}

.svg-image-icon-search:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(18, 18)*100%;
}

.svg-image-icon-search-dims {
	width: 18px;
	height: 18px;
}

.svg-image-icon-tick {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(36, 14)*100% auto;
	width: 14px;

}
@mixin svg-pos-image-icon-tick {
	background-position: 0 100%;
}
@mixin svg-image-icon-tick-hover {
	.svg-image-icon-tick {
		@include svg-pos-image-icon-tick-hover
	}
}

.svg-image-icon-tick:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(14, 14)*100%;
}

.svg-image-icon-tick-dims {
	width: 14px;
	height: 14px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }