// Grid
$width_lg: 1170px;
$width_md: 991px;
$width_xs: 767px;
$width_mob: 500px;

$grid-width: 1170px;
$grid-gutter: 30px;
$grid-columns: 12;

:root {
  /* == Colors == */

  // black
  --color_black_500: #07000f;
  --color_black_400: rgba(7, 0, 15, 0.7);
  --color_black_300: rgba(7, 0, 15, 0.4);
  --color_black_200: rgba(7, 0, 15, 0.1);
  --color_black_100: rgba(2, 22, 45, 0.05);

  // blue
  --color_accent_600: #085edb;
  --color_accent_500: #0067fe;

  // white
  --color_white_500: #fff;

  /* == Fonts == */
  --ff_roboto: "Roboto Condensed", sans-serif;
  --ff_arial: "Arial", sans-serif;

  /* == Decor == */
  --radius: 12px;
}
